@model UserManagement.Web.Models.Users.UserViewModel

<h1>User Details</h1>

<table>

    <tr>
        <th>Forename:</th>
        <td>@Model.Forename</td>
    </tr>
    <tr>
        <th>Surname:</th>
        <td>@Model.Surname</td>
    </tr>

</table>
