@inject IJSRuntime Js
@inherits LayoutComponentBase




<div class=" flex flex-col min-h-screen">
    <header class="p-4">
        <NavMenu />
    </header>

    <main class="bg-gray-200  flex-grow  flex flex-col">
        @Body
    </main>


</div>






