



<nav class="bg-white border-gray-200 dark:bg-gray-900">

    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4 text-">
        <div>
            <a class="text-yellowClr bg-clip-text text-transparent bg-gradient-to-r from-yellowClr to-offYellowClr text-xl">
                User Management
                Dashboard
            </a>
        </div>
        <div class=" flex flex-wrap items-center justify-center gap-8">
            <NavLink href="/" class="cursor-pointer block py-2 px-3 md:p-0 text-grayClr uppercase rounded hover:text-yellowClr text-sm" Match="NavLinkMatch.All">

                <span class="" aria-hidden="true">Home</span>
            </NavLink>
            <NavLink href="users" class="cursor-pointer block py-2 px-3 md:p-0 text-grayClr uppercase rounded hover:text-yellowClr text-sm " Match="NavLinkMatch.All">

                <span class="" aria-hidden="true">Users</span>
            </NavLink>
            <NavLink href="logs" class="cursor-pointer block py-2 px-3 md:p-0 text-grayClr uppercase rounded hover:text-yellowClr text-sm" Match="NavLinkMatch.All">

                <span class="" aria-hidden="true">Logs</span>
            </NavLink>
        </div>
    </div>
</nav>


@code {

}
