@page "/"

<PageTitle>Home Page</PageTitle>



<div class="bg-slate-200 h-100 flex-grow flex items-center justify-center">
    <div class="mx-auto px-4 sm:px-6 lg:px-8 py-24 space-y-8">
        <div class="max-w-3xl text-center ">
            <h1 class=" font-medium text-slate-900 text-4xl sm:text-5xl md:text-6xl lg:text-7xl focus:ring-0-transparent focus:border-0-transparent">
                Now it's easier than ever to manage users
            </h1>
        </div>


        <div class="max-w-3xl text-center mx-auto">
            <p class="text-lg text-yellowClr bg-clip-text text-transparent bg-gradient-to-r from-yellowClr to-offYellowClr text-x">User Managment Dashboard</p>
        </div>

        <div class="text-center">
            <a class=" mb-6 py-2 px-4 inline-flex items-center gap-3 text-sm font-semibold rounded-lg border border-teal-500 text-teal-500 hover:border-teal-400 hover:text-teal-400  transition-all duration-300 ease-in-out " href="/users">
                Get started
                <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m9 18 6-6-6-6" /></svg>
            </a>
        </div>
    </div>
</div>
